*~
*.elc
auto-save-list
recentf
savehist
saveplace
eshell
elpa
el-get
semanticdb
url
ede-projects.el
.DS_Store
custom.el
places
.smex-items
savefile/
/prelude-modules.el
projectile-bookmarks.eld
session*
/.mc-lists.el
/ac-comphist.dat
/plugins/source
/tramp
.cask
tramp
/var/pcache
ido.last
/flycheck_*
/games/bubbles-default-2-10-10-scores
/async-bytecomp.log
